<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body, html { margin: 0; padding: 0; width: 100%; height: 100%; }
canvas { border: 1px solid black; display: block; width: 100%; height: 100%; }
#popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 0; box-shadow: 0 0 8px gray; font-size: 0.8em; }
</style>
</head>
<body>
<canvas id="viewerCanvas"></canvas>
<div id="popup"></div>
<script>
const canvas = document.getElementById("viewerCanvas");
const ctx = canvas.getContext("2d");
const popup = document.getElementById("popup");
let isAnimating = true;

function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
}

function escapeHtml(unsafe) {
    return String(unsafe).replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;");
}

function decodeBase64(base64) {
    try {
        const binary = atob(base64);
        let bytes = new Uint8Array(binary.length);
        for (let i = 0; i < binary.length; i++) {
            bytes[i] = binary.charCodeAt(i);
        }
        return new TextDecoder().decode(bytes);
    } catch (e) {
        console.error(e);
        return "";
    }
}

window.addEventListener("resize", resizeCanvas);
resizeCanvas();

const ownerAddress = "0x8c79991bd03cf3f9"
const snapshotTime = Number((1695730093.00000000 | 0) * 1000)
const data = [
    {
        nftID: 4,
        name: decodeBase64("54i2"),
        collectionPublicPath: "/public/SakutaroPoemCollection",
        nftType: "A.e46c2c24053641e2.SakutaroPoem.NFT",
        thumbnail: decodeBase64("aXBmczovL1FtTnJoUWdvUWZXdFVycGhqZXV3YjZaSlVCUmhIVVdzOXdWVkhiZDVvQ3FpTEs").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 2,
        name: decodeBase64("IzI"),
        collectionPublicPath: "/public/MessageCardCollectionPublicPath",
        nftType: "A.f38fadaba79009cc.MessageCard.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9RYlo1U1ZPLnBuZyMy").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 4,
        name: decodeBase64("IzQ"),
        collectionPublicPath: "/public/MessageCardCollectionPublicPath",
        nftType: "A.f38fadaba79009cc.MessageCard.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9RYlo1U1ZPLnBuZyM0").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 3,
        name: decodeBase64("IzM"),
        collectionPublicPath: "/public/MessageCardCollectionPublicPath",
        nftType: "A.f38fadaba79009cc.MessageCard.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9RYlo1U1ZPLnBuZyMz").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1,
        name: decodeBase64("IzE"),
        collectionPublicPath: "/public/MessageCardCollectionPublicPath",
        nftType: "A.f38fadaba79009cc.MessageCard.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9RYlo1U1ZPLnBuZyMx").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 47,
        name: decodeBase64("IzQ3"),
        collectionPublicPath: "/public/MessageCardCollectionPublicPath",
        nftType: "A.f38fadaba79009cc.MessageCard.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9RYlo1U1ZPLnBuZyM0Nw").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 4,
        name: decodeBase64("54i2IFtSZXBsaWNhXQ"),
        collectionPublicPath: "/public/SakutaroPoemReplicaCollection",
        nftType: "A.e46c2c24053641e2.SakutaroPoemReplica.NFT",
        thumbnail: decodeBase64("aXBmczovL1FtTnJoUWdvUWZXdFVycGhqZXV3YjZaSlVCUmhIVVdzOXdWVkhiZDVvQ3FpTEs").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 608163813,
        name: decodeBase64("RmxvbWllcw"),
        collectionPublicPath: "/public/FindPackCollection",
        nftType: "A.097bafa4e0b48eef.FindPack.NFT",
        thumbnail: decodeBase64("aXBmczovL1FtVEVLcGNncFFWTjVzM1BvUkJzend3YXdKVm5qSjhudFprWWRvRjNySktldjc").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 2982,
        name: decodeBase64("UmVwbGljYWJsZSAvLyBEYXJrICMzMg"),
        collectionPublicPath: "/public/FlowverseTreasuresCollection",
        nftType: "A.9212a87501a8a6a2.FlowverseTreasures.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9mbG93dmVyc2UubXlmaWxlYmFzZS5jb20vaXBmcy9RbWFXVjl4ZHpTQ3hBbnk4Q3VBUFBnV3hwMjJWcVhmdXNqMmV2eFhqRksyOWlE").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 815829326,
        name: decodeBase64("Q2hyaXN0bWFzIENhdA"),
        collectionPublicPath: "/public/TouchstoneChristmasCatsCollection_0x8e52cbe5a8f1c592",
        nftType: "A.8e52cbe5a8f1c592.TouchstoneChristmasCats.NFT",
        thumbnail: decodeBase64("aXBmczovL2JhZnliZWlnaHBvMnFhNGtlaW95d3VnYWRueHhia2I2ajQ0a3Yyd21mb3Qza3lhY2x3cnl3MmNya3l5L0NocmlzdG1hc0NhdDE1LmpwZw").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 888163321,
        name: decodeBase64("RmxvRmlnaHRlcg"),
        collectionPublicPath: "/public/TouchstoneFloFightersCollection_0x5b7f514d1ade0f3f",
        nftType: "A.5b7f514d1ade0f3f.TouchstoneFloFighters.NFT",
        thumbnail: decodeBase64("aXBmczovL2JhZnliZWlic3RucjIydWg0NHZ5eW96bWZmdXNuY2Q1djVsbHVqeDNucWw0NXJoZDNtcmFmNHdvNWtpLzA4OC5wbmc").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 412220500,
        name: decodeBase64("R2VlZnQgIzQxMjIyMDUwMA"),
        collectionPublicPath: "/public/GeeftCollection",
        nftType: "A.80ec5732ee129467.Geeft.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9pLmltZ3VyLmNvbS9kWnhiT0VhLnBuZw").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 612526638,
        name: decodeBase64("RW1lcmFsZCAjNw"),
        collectionPublicPath: "/public/EmeraldsCollection_0x5643fd47a29770e7",
        nftType: "A.5643fd47a29770e7.Emeralds.NFT",
        thumbnail: decodeBase64("aXBmczovL2JhZnliZWlnM2ptaWlhdGs2Y281NnFxZzZsNTRobDVseDQ0dHc2YjRicmw0NjQ0NTJreDNkbTc0dnNhL2VtZXJhbGRfN190aG1iLnBuZw").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1,
        name: decodeBase64("VW5sZWFzaA"),
        collectionPublicPath: "/public/UnleashCollection",
        nftType: "A.29eece8cbe9b293e.Unleash.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZmozcGVheHBxbGh5dDJwbHBlcDRyY2V1bG14M2RxYWpseGRleXZycmEyZGpub3J2b2Q3bQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 248871257,
        name: decodeBase64("44Oq44Oq44Kz"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVZTOFkxWXNRdjFzU1JpYlRndXB0dkdBelRqcnYzNTZrekRub3hBeFBUaFpy").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 983873475,
        name: decodeBase64("W0FuaW1vY2EgQnJhbmRzIG9uIEZsb3cgV2Vla10gVHdpdHRlciBTcGFjZSAtIFdlYjMgQ29tbXVuaXRpZXMgYW5kIE5ldHdvcmsgRWZmZWN0"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYXNhcTdhYjNidXZ0eml3ZWZsYzN5emlrc2V0MjVmb3JxbnJheWd3enlkYnE1dnNkb214NA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 330663390,
        name: decodeBase64("QmFydGVyIFlhcmQgQ2x1YiAtIPCfjoEgQmlnIGFpcmRyb3AgcHV6emxlIPCfp6kgMS82"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVRUdmphOHBSTGRxRk4yS3lMRnJWQ0tyVGNoNUY1UXB6aXRMZ01oZTNnUXlv").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1231814136,
        name: decodeBase64("Q29sbGFiIExhbmQgeCBUb3AgU2hvdCB4IEZsb3d2ZXJzZSB4IEZsaXBzaWRlIENyeXB0byBPcGVwZW4"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZHg3bGJvMmNtcnduazZoYXg1b2dodW5iczRvcHZiaTYyNGZvdXVxb2R6ZnltNXR0cnZ5ZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 453203864,
        name: decodeBase64("Q2FkZW5jZSBNVlA6IERldmVsb3BlciBTdXJ2ZXk"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZ3ptb2xsaGR5bDVxcWRzbWVkcHhzZTdqZmx0cWJjYnFjcXJzMnk0ZXlneDZ0d3p2aXVhdQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 356463991,
        name: decodeBase64("RGlzY29yZOOCs+ODn+ODpeODi+ODhuOCo0Zsb3cgYmxvY2tjaGFpbiBKYXBhbiDjgrDjg6njg7Pjg4njgqrjg7zjg5fjg7PoqJjlv7XigLzvuI8"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVlCRDRuWDUzYkZnZjNBbXJZZ2tyYkZtVVNCR0o2VllpYkt6Z1BaTFhFdlN6").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 359916723,
        name: decodeBase64("TWF0cml4IE1hcmtldCBBTUE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWVLRHR2M1lRTkFhY0NTRTQ4RDVFN1F1SkI3cnBoSmN6eVNGVlhvWE11a0Na").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 983285797,
        name: decodeBase64("W0FuaW1vY2EgQnJhbmRzIG9uIEZsb3cgV2Vla10gVHdpdHRlciBTcGFjZSAtIFRoZSBSZXZvbHV0aW9uIG9mIE5GVHM"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpaDJhd25zcDN3cGJkcmVoYjRlbGc2ZWQ1ZzRsYWd5NndudXB5aW1uYnQyaWZmZHJkcnR6bQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 896429807,
        name: decodeBase64("8J+OgSBCWUMgY2hhbGxlbmdlIGNhcmQgNC81IPCfjoE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZHR5cTZjZmNxcnRjZWV4ZWF5cjZvN2Z0cnJsNXBjYmRoZ3JyZHEzNzZnbWJ5NXF1Y2d5ZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 956870137,
        name: decodeBase64("56ysMjDlm54gRmxvdyBibG9ja2NoYWluICBUb2JpcmF0b3J5IMOXIEZsb3cgQU1B4oC877iP"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpaHpudXkzNTdnZ25yb3E2NHNxYmRtY3g0d2JjYWJuajc2YWhpcjZvd3ltcGZwdTd5ZzdmZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 508031575,
        name: decodeBase64("Q3J5cHRvS2l0dGllcyB4IFNvbGFyUHVwc05GVHMgQU1B"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpYW90YXVib2Z6NTVzbzQ0aGV1amJjbTR2bjY0YTRhaDRqZHFjcng1ZWJzM2syZ2prbnR3NA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 292072578,
        name: decodeBase64("V2Vla2x5IE5GVCBOZXdzICMwNzI"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVJRQjdnck41bTJvMmdLRE5lOGhrZnRYdGZGd3lESzY2RkNYcFVyU0thRXNI").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 270584552,
        name: decodeBase64("SmFjb2IgRm9yZXZlcg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVBLdTI1dmtyUkF6c2hTYzFtVXJUTEJzaUNxMmNETWpCTHFUeXZjTFBNcFpD").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 586527541,
        name: decodeBase64("SW50ZXJuYXRpb25hbCBORlQgRGF5IDIwMjI"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYTUzNmd4dnV3cXA1NTJnM3RkNWN5bG1odzNmNjU1N2RwcjZzN2R1dHNrc3ZhbW92YWRnNA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 585483945,
        name: decodeBase64("TkZUIERheSBUcmVhc3VyZSBDaGVzdA"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZmYyM3N6ZzdhbTU3aTd6NnlhYmF1cW1ydDNmaTM1N3lwem1oZDV6c2Vpb3VuaGdvNjYycQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 975157887,
        name: decodeBase64("Rmxvd3ZlcnNlIEVhc3RlciAyMDIz"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZ2xndHF2eG14NHlmZzVoZ3dpaWgzMm9vcjVyY3ZianFjamxtc2Nsa3hjbWE1eXF3dHh3bQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 355939755,
        name: decodeBase64("MTIgTW9udGhzIG9mIEZyZWUgMzBHQiBJUEZTIFN0b3JhZ2UgUGFjayBvbiA0RVZFUkxBTkQ"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWM3QmI5ekVqaGdXRktZYjM4eVljMUtVcHB5c1h3RzRnV0hCa0ZDZ0MyR2VQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 609839684,
        name: decodeBase64("TkZUIERheSAyMDIyIERldmVsb3BlciBXZWJpbmFy"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYzRyNG9tZWZ5ZmtiNm5hazI0dnBpdXhvbTR3ZzM1ZmVoZnR6cmtsZWhwZm1wanJqeWN2bQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 803903938,
        name: decodeBase64("RmxvdyBUb3duIEhhbGwgIzEgLSBEZWMgMjAyMg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZnJydDZjbmdncGV6YWs0bHZpMmI0NDU0dXdxNWdmMnU2bTZva2psbHZ6ZXB4cW53bmdzYQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 513667675,
        name: decodeBase64("RmxvdyAxMDE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZ2trNW1henV1cWUyZXplNHd4d2hjam43bG1mcG92aTZmdW95bm5zc296cHh6Z3BvNjQzZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 368779474,
        name: decodeBase64("bGlsaWNvLm1lb3c"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWNUV1FzNlg3dzE1akU3c1N0bVJLUHRROUhHOGVwY29ld0tWV0FOckxIYzFR").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 896429796,
        name: decodeBase64("8J+OgSBCWUMgY2hhbGxlbmdlIGNhcmQgMS81IPCfjoE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZXFtZDJ2Nzd3aDRudDZpejY1aW1hdjZ0d2xtM3J2ZTNsdXVoaDM2NXByb3o1dzVlMmlmcQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 271964225,
        name: decodeBase64("V2Vla2x5IE5GVCBOZXdzICMwNzE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWZUWFNpZTlyNHBNWVB5djhUUnpEdHVCOFY5aWZ1bzJla3M2N0NWaTVYekNm").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 680981825,
        name: decodeBase64("56ysMTblm54gRmxvdyBibG9ja2NoYWluICBUaWJsZXMgw5cgRmxvdyBBTUHplovlgqzigLzvuI8"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZzZjN3dldTRoamJjYnBkcnZvZWI2cXd4c2F4dGRxZnZ5NWR2MjJuajV1bm50djRraHJueQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 869385347,
        name: decodeBase64("56ysMuWbnue/u+ios+e3qPCfk51GbG93IGJsb2NrY2hhaW4gIEZsb3cg44Kv44Kk44K6QU1B6ZaL5YKs4oC877iP"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZGNnaDdvM2tneTUyaHdjY3V2bHdjN2psaXl6Mnlsc2pueWt4ajZ0Ym5wcHY1cmRicW0yaQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 261403078,
        name: decodeBase64("PyAjMQ"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWJUcUFtSjVuMnpKNVZDQVAzY2p2R3oyeEQxRmdHUEFlN2IxVm1wSkJSOG53").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 971800386,
        name: decodeBase64("UGlnZ29zIOKdpO+4jyBQZW9wbGUsIEFuaW1hbHMsIFRyZWVzLCBNdXNpYywgQXJ0ICYgdGhlIFdvcmxkISA"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZG1wY3FhZ2xjZHNqc2ZhajVvaGR5b3VoN2RjcWU1aDZsamFwZWkzYXhvazNnd25tbjJtaQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 330157505,
        name: decodeBase64("Rmxvd25zLTQgRGlnaXQgRG9tYWlu"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVhwelBrNURWUjFXUlB0Y0xtQ1R4YXhmcHZ2cmpOdGlZS21mRUgzTEFtcU02").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 351772581,
        name: decodeBase64("44CM44Ko44Oz44K444OL44Ki44Oq44Oz44Kw44GL44KJ6ICD44GI44KLTkZU44Ki44O844OI44CN"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWJhc1ZDVUtxWmMxMUVLZG54akFHa3B0eG5WVVU3Tmd2ZUVZM1ZydlpXSk52").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 359920309,
        name: decodeBase64("RmxvdyBibG9ja2NoYWluIEphcGFuIEFNQQ"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVljZU5qd2ozY2hGTnNQWHZkNXI0SkxRMzR6OU1Gc3RzeU15cTZzZFV6ZW1S").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1278171945,
        name: decodeBase64("TkZUIERheSAyMDIz"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZ2hzM2ZhaDVjdGxjbG83d2V3eTNiZm9pcjdkYTNpd21kcHhyMmg0cWNhd2w0dHc2ZXRjNA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 510076086,
        name: decodeBase64("Q29sbGVjdGl2ZSBBZHZlbnR1cmVzIFNlYXNvbiAx"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZ3BsczRzZWhjamF5MjZkZ2JrcXA0Y3JoMnlmbWYyN2tlcmhoc3g0ZWN4ZHN6a2Nra3YyZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 888018934,
        name: decodeBase64("RmxvdyBPbmJvYXJkaW5nIFdvcmtzaG9wIGluIFRva3lv"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpY2l1bHhxNnF1bjU3cGlpcXUzZTMyMnJxc2ZibDZtN2tubWp0MnJibzQ2cXlkNWFub3F1aQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 954442762,
        name: decodeBase64("eEcgRXZvbHZlIExhdW5jaA"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZXRsdTN3M2pyY3p0enQ0bjZwM3p1ZzZmcGRucjR6aGc1NmNtM2tjYWlleWhudHRheGZsbQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 979126212,
        name: decodeBase64("W0FuaW1vY2EgQnJhbmRzIG9uIEZsb3cgV2Vla10gVHdpdHRlciBTcGFjZSAtIEJ1aWxkaW5nIFdlYjMgR2FtZXM"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYnZlYTJoeXQ1Y2FiZ3d3eW83NnpnbnY1ZXRnbnBrYTc3ZGhta2RweHRkdGpic2FmajJnbQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 509330428,
        name: decodeBase64("RmxvdyAxMDEgV29ya3Nob3AgIzE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZmNweGZmZDNqc29taWp0enkza3JyYno2czIyemR2ZHA0MmZucDJjZGxncm15b3NwZDZwZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 248900736,
        name: decodeBase64("NXRoIEZsb3cgQmxvY2tjaGFpbg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVJEUnlDRGt1cU1qTHExM2Z6c2I0M2p3VmhmalEzdDNBZDdzWTdHazl0enNx").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 980145483,
        name: decodeBase64("W0FuaW1vY2EgQnJhbmRzIG9uIEZsb3cgV2Vla10gVHdpdHRlciBTcGFjZSAtIFNwb3J0cyBpbiBXZWIz"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYnVnM3hlZHU2Znp2YW9nYnJyeXNjNW16MnJlZnVibDJtcWV1N3Z3YXUzYWEydDVhNTVjZQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1193403611,
        name: decodeBase64("Rmxvd3ZlcnNlIEZsb3dwZXBlbg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYzd6N2R0c3ljYndpeGluYTJva2htanFxbXByd254c2lnZGlvbmFmaWR0N2h4NmRha2dkNA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 896429818,
        name: decodeBase64("8J+OgSBCWUMgY2hhbGxlbmdlIGNhcmQgNS81IPCfjoE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZHM2d25yN3dqNW5yc3ZzbmR0cnRuaGx0aXd3bTc1eTdxZ2FjbG9tenJwcWthbXB4ZzJicQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 812576750,
        name: decodeBase64("RmxvdyBEZXYgSmFtICMyIC0gSmFjb2IgVHVja2Vy"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZG5ja2lhcXJzNmNxNjdtbmdqcHk1M3JybG80bWgzZXg2aHg3aXRpaWc3amlsejVoY2cyYQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 248006705,
        name: decodeBase64("VHdpdHRlciBTcGFjZSBBTUEgd2l0aCBiamFydGVrLmZpbmQ"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVl0S0M4S2VVQ2ZOekh0OEpVNkZEc1BKU3paMTd0Nll5SDNTdzhtQzRSdXNx").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 898268111,
        name: decodeBase64("RmxvdyBKYXBhbiBNaW5pIEhhY2thdGhvbg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpY2xkNnZqZXFtb25sdWplNTVwb2NnMnd2eG95ZHJ1eHRpdXFjNnhmdXg1ZGlpZndwNmp0NA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 622288330,
        name: decodeBase64("QmxvY2tjaGFpbiBPbmJvYXJkaW5nIFdlZWsgLSBGbG93"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpZHp3bzN1bnp1Mnlva3B6c3Jzc2wzZ2hnaG1mY25yYndxbXFsZnM0dXkydGtpNTZ0aDZieQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 255158129,
        name: decodeBase64("QUxMIEhBTkRTIEZMT0FU"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVZGRWZiWG5Mb0daUnNTWVN3WEhpd3RSWldCSE1YbmRtem5idllWR2hvc2do").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 270919336,
        name: decodeBase64("TkZU44Ki44O844OI44Go5rOV44Gu5pyA5YmN57eaIHZvbC4yICIx5bm05b6MIg"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbWZMMXFxd3JZN2FDTGJwYkdIdkF0VmlLdFJuYWlHN29nQzNEQkZkazVOaEZk").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 977237542,
        name: decodeBase64("W0FuaW1vY2EgQnJhbmRzIG9uIEZsb3cgV2Vla10gVHdpdHRlciBTcGFjZSAtIEZ1dHVyZSBvZiBXZWIz"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpaGI2NmNjZnA0MzJqYnkyMzZ4bDM3bnh2eWZhYTdzc3J4c3Zzb2VxdDRwZHE2NGFsZm00NA").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 1187440007,
        name: decodeBase64("VG9wIFNob3QgT3BlcGVuIERlYnV0"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZrcmVpYnh6eDNsZTVleXFzZ3J3NWNld2doNmJiN255a2hoeTZ1bXlkY2xiZWFueDN0bWVsdG52aQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 241442316,
        name: decodeBase64("V2Vla2x5IE5GVCBOZXdzICMwNjk"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVZiZjl0UGhHd2U2TDZ0UWdncFppNHN6Q29TUnhCTmJqcjlHS21nRXJpQ1ht").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 896429774,
        name: decodeBase64("8J+OgSBCWUMgY2hhbGxlbmdlIGNhcmQgMS81IPCfjoE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZXFtZDJ2Nzd3aDRudDZpejY1aW1hdjZ0d2xtM3J2ZTNsdXVoaDM2NXByb3o1dzVlMmlmcQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 359922942,
        name: decodeBase64("RGltZW5zaW9uWCBBTUE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9RbVVWencyQ3laVHVLcWM2RGsxNDk3dG5vWTlzSm1OUHJUNkRZRzRBZGZXNUFm").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
    {
        nftID: 896429785,
        name: decodeBase64("8J+OgSBCWUMgY2hhbGxlbmdlIGNhcmQgMS81IPCfjoE"),
        collectionPublicPath: "/public/FLOATCollectionPublicPath",
        nftType: "A.2d4c3caffbeab845.FLOAT.NFT",
        thumbnail: decodeBase64("aHR0cHM6Ly9uZnRzdG9yYWdlLmxpbmsvaXBmcy9iYWZ5YmVpZXFtZDJ2Nzd3aDRudDZpejY1aW1hdjZ0d2xtM3J2ZTNsdXVoaDM2NXByb3o1dzVlMmlmcQ").replace("ipfs://", "https://dweb.link/ipfs/"),
    },
];

data.map(info => {
    const angle = Math.random() * 2 * Math.PI;
    info.x = Math.random() * canvas.width;
    info.y = Math.random() * canvas.height;
    info.dx = Math.cos(angle) * 0.2;
    info.dy = Math.sin(angle) * 0.2;
    info.width = canvas.width * 0.08,
    info.height = null,
    info.image = null
});

let loadedImages = 0;

data.forEach(item => {
    const img = new Image();
    img.onload = function() {
        loadedImages++;
        item.image = img;
        item.height = img.height * (item.width / img.width);
        if (loadedImages === data.length) {
            requestAnimationFrame(draw);
        }
    }
    img.onerror = function() {
        loadedImages++;
        if (loadedImages === data.length) {
            requestAnimationFrame(draw);
        }
    }
    img.src = item.thumbnail;
});

canvas.addEventListener("click", function(event) {
    const rect = canvas.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;

    let clickedItem = null;
    for (const item of data) {
        if (x > item.x - item.width/2 && x < item.x + item.width/2 &&
            y > item.y - item.height/2 && y < item.y + item.height/2) {
            clickedItem = item;
            break;
        }
    }

    if (clickedItem) {
        isAnimating = false;
        let imageHtml = "";
        if (clickedItem.image) {
            imageHtml = `<img src="${clickedItem.thumbnail}" width="${clickedItem.width * 3}" height="${clickedItem.height * 3}" style="display:block; margin:auto;">`;
        }
        popup.innerHTML = imageHtml +
                        "<p>Name: " + escapeHtml(clickedItem.name) + "</p>" + 
                        "<p>PublicPath: " + clickedItem.collectionPublicPath + "</p>" +
                        "<p>Type: " + escapeHtml(clickedItem.nftType) + "</p>" +
                        "<p>ID: " + clickedItem.nftID + "</p>" +
                        "<p>Owner: " + ownerAddress + "</p>" +
                        "<p>Time: " + new Date(snapshotTime).toLocaleString() + "</p>";
        popup.style.display = "block";
    } else {
        isAnimating = true;
        popup.style.display = "none";
        requestAnimationFrame(draw);
    }
});

function draw() {
    if (!isAnimating) return;

    ctx.clearRect(0, 0, canvas.width, canvas.height);

    data.forEach(item => {
        item.x += item.dx;
        item.y += item.dy;

        if (item.x - item.width/2 > canvas.width) item.x = -item.width/2;
        if (item.x + item.width/2 < 0) item.x = canvas.width + item.width/2;
        if (item.y - item.height/2 > canvas.height) item.y = -item.height/2;
        if (item.y + item.height/2 < 0) item.y = canvas.height + item.height/2;

        if (item.image) {
            ctx.drawImage(item.image, 0, 0, item.image.width, item.image.height, item.x - item.width/2, item.y - item.height/2, item.width, item.height);
        } else {
            item.height = item.width;
            ctx.fillStyle = "#ddd";
            ctx.fillRect(item.x - item.width/2, item.y - item.height/2, item.width, item.height);

            ctx.fillStyle = "#999";
            ctx.textAlign = "center";
            ctx.textBaseline = "middle";
            ctx.fillText("NFT", item.x, item.y);
        }

        ctx.fillStyle = "black";
        ctx.textAlign = "center";
        ctx.textBaseline = "alphabetic";
        ctx.fillText(item.name, item.x, item.y + item.height/2 + 15);
    });

    requestAnimationFrame(draw);
}
</script>
</body>
</html>